/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* helper styles */
h1,
button,
.input--field input {
  margin-right: 10rem;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {
  margin-block: 1.5rem;
}

.quote--list {
  display: flex;
  margin-bottom: 1rem;
  align-items: stretch;
}

.quote--list > * {
  flex: 1;
  min-width: 0;
}

button {
  background-color: #707070;
  color: white;
  font-weight: 700;
  padding: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  text-transform: uppercase;
}

.input--field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.input--field input {
  padding: 0.8rem;
  width: 100%;
  margin-bottom: 0.8rem;
}

.input--field input:focus {
  outline: none;
}
